@import '../../styles/utils/colours';

$nav-height: 2em;
$footer-height: 2em;
$content-height: calc(100vh - #{$nav-height + $footer-height});
$col1-width: 33% !default;
$col2-width: 66% !default;

.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.layout__nav {
  padding: 0 2.25%;
  height: $nav-height;
}

.layout__nav-header {
  margin-right: 10px;
  border-right: 6px double currentColor;
  padding-right: 10px;
}

.layout__nav-link {
  margin: 0 6px;
  line-height: 2em;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.layout__content {
  height: 100%;
  max-height: $content-height;
  padding: 0 2.25%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before ,
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.layout__footer {
  padding: 0 2.25%;
  height: $footer-height;
  line-height: 2em;
}

.layout__image {
  background: url(../../../docs/clearscore.png);
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
