@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/colours";

.credit-score__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: $slideSize;
  height: $slideSize;
}

.credit-score__arc {
  position: absolute;
}

.credit-score__text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.credit-score__score {
  font-size: 90px;
  font-weight: 200;
  color: $score;
}
