body {
  background: no-repeat top;
  background-size: cover;
  background-image: url('/background--dashboard.png');
}

.dashboard__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 310px;
  width: 310px;
  margin: 0 auto;
}
