@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/colours";

.debt__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: $slideSize;
  height: $slideSize;
}

.debt__arc {
  position: absolute;
}

.debt__text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
}

.debt__score {
  font-size: 30px;
  font-weight: 200;
  color: $debt;
}
