@import "../../../../styles/utils/variables";

.carousel__wrapper {
  position: relative;
  width: $slideSize;
  height: $slideSize;
  overflow: hidden;
}

.carousel__container {
  display: flex;
  flex-direction: row;
  transform: translateX(-310px);
  transition: 1s transform;
}

.carousel__slide {
  width: $slideSize;
  height: $slideSize;
  flex-shrink: 0;
}

.carousel__sliding {
  transform: translateX(0);
  transition: none;
}
